# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_NAME=billing_db

# Server Configuration
PORT=3000
NODE_ENV=development

# Client Configuration
CLIENT_URL=http://localhost:4201

# Logging
LOG_LEVEL=debug

# Features
ENABLE_CORS=true

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=postgres
PORT=3000
NODE_ENV=development
URL=http://localhost:3000
CLIENT_URL=http://localhost:4201
DGIS_API_KEY=2f7e29d3-4ac0-44f6-ab00-cbfa50d0a330
EMAIL_SERVICE=gmail
EMAIL_USER=xmartynrichu@gmail.com
EMAIL_PASSWORD=zgzplypxrazftmpl


DB_HOST=dpg-d7cm0ja8qa3s73ba3q4g-a
DB_PORT=5432
DB_USER=fishing_q7w5_user
DB_PASSWORD=hzENWXaG9Nvurzxdym3Qgx54TnDYJhnf
DB_NAME=fishing_q7w5
PORT=3000
NODE_ENV=production
URL=https://billing-api-zjgn.onrender.com
CLIENT_URL=https://billing-ui-21kx.onrender.com
DGIS_API_KEY=2f7e29d3-4ac0-44f6-ab00-cbfa50d0a330
EMAIL_SERVICE=gmail
EMAIL_USER=xmartynrichu@gmail.com
EMAIL_PASSWORD=zgzplypxrazftmpl